@use '../../scss/vars' as *;
@use '../../scss/mixin' as *;

.tag {
  border-radius: 16px !important;
  font-weight: 500;
  font-size: 14px !important;
  padding: 0 12px !important;
  border: 1px solid #d9d9d9;

  &.is-light {
    border: none;
  }

  &.is-info.is-light {
    background-color: $color-info-bg !important;
    color: $color-info !important;
  }

  &.is-danger.is-light {
    background-color: $color-danger-bg !important;
    color: $color-danger !important;
  }

  &.is-warning.is-light {
    background-color: $color-warning-func-bg !important;
    color: $color-warning-func-fg !important;
  }

  &.is-success.is-light {
    background-color: $color-success-bg !important;
    color: $color-success !important;
  }
}
