@use '../../scss/vars' as *;
@use '../../scss/mixin' as *;

.cmp-file-upload {
  .cmp-file-upload {
    &__body {
      border: 1px dashed $color-primary-50;
      border-radius: 8px;
      height: 90px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $color-black-300;

      @include hover;

      &--error {
        border-color: #db0012;
      }
    }

    &__input {
      display: none;
    }

    &__error {
      margin-top: 4px;
      color: $color-danger;

      font: {
        size: 14px;
      }
    }
  }
}
