@use '../../scss/vars' as *;
@use '../../scss/mixin' as *;

.cmp-search-input {
  border: $default-border;
  border-radius: $input-border-radius;
  height: 42px;
  width: 100%;
  min-width: 220px;
  max-width: 400px;
  overflow: hidden;

  &__label {
    padding: 0 8px;
    min-width: 24%;
    border-right: $default-border;
  }

  &__input {
    padding: $input-padding;
    font-size: $body-size;
    border: none;
    width: 100%;

    &:focus {
      border: none;
    }
  }
}