@use './mixin' as *;
@use './vars' as *;

.Toastify__toast {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px !important;
  font-weight: normal;
  font-family: $font-primary;
  backdrop-filter: blur(5px);
  padding: 8px 16px;

  &-body {
    padding: 0 !important;
  }

  // & svg {
  //   fill: #fff !important;
  // }

  // & div[role='progressbar'] {
  //   background-color: #fff !important;
  // }
}

.Toastify__toast-container {
  font-size: 14px;
  width: 360px;
}

.Toastify__toast-container--top-right {
  top: 16px !important;
}

.Toastify__close-button--light {
  opacity: 1;
}

.Toastify__toast--success {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15),
    inset 0px 0.5px 1px rgba(255, 255, 255, 0.5);
  background-color: $color-success-func-bg !important;
  color: $color-white !important;
  border: 1px solid $color-success-func-bg;

  .Toastify__close-button--light {
    opacity: 1;
    color: $color-white;
  }

  & svg {
    fill: $color-white !important;
  }

  & div[role='progressbar'] {
    background-color: $color-white !important;
  }
}

.Toastify__toast--info {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15),
    inset 0px 0.5px 1px rgba(255, 255, 255, 0.5);
  background-color: $color-info-bg !important;
  color: $color-info !important;
  border: 1px solid $color-info;

  .Toastify__close-button--light {
    opacity: 1;
    color: $color-info;
  }

  & svg {
    fill: $color-info !important;
  }

  & div[role='progressbar'] {
    background-color: $color-info !important;
  }
}

.Toastify__toast--warning {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15),
    inset 0px 0.5px 1px rgba(255, 255, 255, 0.5);
  background-color: $color-warning-bg !important;
  color: $color-warning !important;
  border: 1px solid $color-warning;

  .Toastify__close-button--light {
    opacity: 1;
    color: $color-warning;
  }

  & svg {
    fill: $color-warning !important;
  }

  & div[role='progressbar'] {
    background-color: $color-warning !important;
  }
}

.Toastify__toast--error {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15),
    inset 0px 0.5px 1px rgba(255, 255, 255, 0.5);
  background-color: $color-func-danger !important;
  color: $color-white !important;
  border: 1px solid $color-danger;

  .Toastify__close-button--light {
    opacity: 1;
    color: $color-white;
  }

  & svg {
    fill: $color-white !important;
  }

  & div[role='progressbar'] {
    background-color: $color-white !important;
  }
}
